{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>{{ model.name }}</h1>
			</div>
			<div class="col-md-6">
				<p>{{ model.description }}</p>
				<p>{{ model.price }}</p>

				<form method="POST">
					<select class="form-select" aria-label="select color" name="color" id="color">
						<option value="null">Selectionner une couleur</option>
						{% for product in products %}
							<option value="{{ product.color_id }}">{{ product.color_name }}</option>
						{% endfor %}
					</select>
					<div id="form-check"></div>
					<input type="text" value="{{model.id}}" class="d-none" name="model_id" id="model_id">
					<button type="submit" class="disab">Ajouter au panier</button>
				</form>
			</div>
			<div class="col-md-6">
				<img src="{{ model.illustration }}" alt="illustration produit"/>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascript %}
<script>
	const products = {{ products|json_encode|raw }};

	document.getElementById('color').addEventListener('change', e => {
		console.log(e.target.value)
		products.forEach(product => {
			if (product.color_id === e.target.value) {
				parentElement = document.getElementById('form-check');
				product.sizes.forEach(size => {
					console.log(size)
					const checkbox = document.createElement('input');
					const label = document.createElement('label');
					checkbox.type = 'checkbox';
					checkbox.className = 'form-check-input';
					checkbox.id = size.size_id;
					checkbox.name = 'size';
					checkbox.value = size.size_id;
					label.htmlFor = size.size_id;
					label.innerText = size.size_name;
					label.className = 'form-check-label';
					parentElement.appendChild(label);
					parentElement.appendChild(checkbox);
				})
			}
		})
	})
</script>{% endblock %}
